body 
{
    margin-top: 10px;
    margin-left: 50px;
    margin-right: 50px;
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
}


header 
{
    text-align: center;
    margin-bottom: 40px;
}


h1 
{
    font-size: 3em;
    color: #1c1d1f;
    margin-bottom: 10px;
}


h2 
{
    font-size: 30px;
    color: #16a085;
}


.contenido 
{
    text-align: center;
    font-size: 20px;
    margin-bottom: 40px;
}


.tabla-datos, .tabla-datos1, .tabla-datos2
{
    width: 80%;
    margin: 0 auto 40px;
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
    border-color: #16a085;
}


.tabla-datos h3, .tabla-datos1 h3, .tabla-datos2 h3
{
    font-size: 24px;
    color: #2c3e50;
    margin-bottom: 15px;
    text-decoration: underline;
}


.tabla-datos p, .tabla-datos1 p, .tabla-datos2 p 
{
    font-size: 18px;
    color: #34495e;
    line-height: 1.6;
}


.tabla-datos2 
{
    margin-bottom: 80px;
}


nav 
{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #30805a;
    font-size: 20px;
    text-align: center;
    padding: 15px 0;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
}


a 
{
    margin-left: 20px;
    margin-right: 20px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 8px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}


a:hover 
{
    background-color: #16a085;
    transform: translateY(-3px);
}


a:active 
{
    background-color: #27ae60;
    transform: translateY(1px);
}